{{template "top" .}}
<title>New Pizza Order</title>

<head>

<body class="bg-gradient-to-br from-amber-50 via-red-50 to-rose-50 min-h-screen">
    <div>
        <p>This is the order page okay</p>
    </div>
    {{template "bottom" .}}